---
nicehash:
  primary_region: eu
  failover_regions:
  - usa
  user: 3CypS5xQSiPW5vtXpB7yiwdBnY3xoyEBeM
  worker_name: mino
  append_device_id_to_worker_name: true
  timeout: 20
  profit_switch_threshold: 0.04
  ports:
    nist5: 3340
    equihash: 3357
    pascal: 3358
    decred: 3354
    sia: 3360
    lbry: 3356
    blake2s: 3361
    daggerhashimoto: 3353
    lyra2rev2: 3347
    cryptonight: 3355
    neoscrypt: 3341
    keccak: 3338
    scrypt: 3333
    x11: 3336
    x11gost: 3359
    x13: 3337
    x15: 3339
    whirlpoolx: 3343
    qubit: 3344
    quark: 3345
    blake256r8: 3349
    skunk: 3362
algorithms:
  single:
    - nist5
    - neoscrypt
    - equihash
    - pascal
    - decred
    - sia
    - lbry
    - blake2s
    - lyra2rev2
    - cryptonight
    - daggerhashimoto
    - keccak
    - scrypt
    - x11
    - x11gost
    - x13
    - x15
    - whirlpoolx
    - qubit
    - quark
    - blake256r8
    - skunk
  double:
    - daggerhashimoto_pascal
    - daggerhashimoto_decred
    - daggerhashimoto_sia
hashrate_alert_threshold_percent: 3
suppress_hashrate_for_seconds: 10
algo_warmup_period_mins: 2
miners:
  ccminer:
    enable: true
    port: 3457
    ip: 127.0.0.1
    timeout: 10
  excavator:
    enable: true
    ip: 127.0.0.1
    port: 3456
    timeout: 10
device_profiles:
  default:
    algorithm: all
    device: all
debug: false
logging:
  log_file: /var/log/minotaur/minotaur.log
  calibration_log_dir: /var/log/minotaur
  max_size_mb: 100
  log_file_count: 7
live_data:
  profitability_averages:
    - 900
    - 3600
    - 86400
  power_draw_averages:
    - 300
    - 600
    - 900
xorg_display_no: 0
electricity_per_kwh: 0.1194
electricity_currency: GBP
calibration:
  initial_warmup_time_mins: 5
  initial_sample_time_mins: 10
  acceptable_loss_percent: 1
  algorithm_start_timeout: 180
  power_tuning:
    enable: true
    decrement_watts: 10
    sample_time_mins: 5
leave_graphics_clocks_alone: true
#ignore_devices: [3]
regulate_card_temperatures: true
card_temperature_limit: 80
